<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест на котика</title>
    <link rel="stylesheet" type="text/css" href="/static/cool.css" />
</head>
<body>
<div class="rainbow"><h1>Узнай какой ты котик</h1></div>
<div class="mini-rainbow"><h2>Тут ты узнаешь какой ты котик. Для этого понадобиться всего навсего твоя почта</h2></div>
<a href="/test">Нажми сюда, чтобы начать тест</a>
<br>
<div class="pic"><img height=500px src="/static/cat1.jpg"></div>
</br>
</body>
</html>